{{!Lorraine Byrne and Suhayl Khan }}
{{! CS 340 Summer 2025 }}
{{! Roll the Dice Database }}
{{! Citations: }}
{{! https://www.w3schools.com/howto/tryit.asp?filename=tryhow_make_a_website_intro }}
{{! AI Use: Used Chatgtp with prompt: Is the style sheet and all the pages correctly linked? }}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CS340 - My Project</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
            <nav class="main-nav">
            <a href="/">Home</a>
            <a href="/Games">Games</a>
            <a href="/Genres">Genres</a>
            <a href="/GamesGenres">GamesGenres</a>
            <a href="/Tables">Tables</a>
            <a href="/Patrons">Patrons</a>
            <a href="/Reservations">Reservations</a>
        </nav>
    </header>


    {{{body}}}

</body>
</html>
