<header class="homepageHeader">
  <h1 class="title">Roll the Dice Cafe</h1>
  <h2 class="subtitle">Board Game Reservation Database</h2>
  <p class="classinfo">By Lorraine Byrne and Suhayl Khan — CS340, Summer 2025</p>
  <br>
  <form id="reset_form" method="POST" action="/Reset">
    <button type="submit">RESET DATABASE</button>
  </form>
  <p class="reset-note">
    This will delete all the added genres
  </p>
</header>
