{{!Lorraine Byrne and Suhayl Khan }}
{{! CS 340 Summer 2025 }}
{{! Roll the Dice Database }}
{{! Citations: }}
{{! Date: 8/14/2025 }}
{{! https://www.w3schools.com/howto/tryit.asp?filename=tryhow_make_a_website_intro }}

<header class="homepageHeader">
  <h1 class="title">Roll the Dice Cafe</h1>
  <h2 class="subtitle">Board Game Cafe Reservation Database</h2>
  <p class="classinfo">By Lorraine Byrne and Suhayl Khan — CS340, Summer 2025</p>
  <br>
  <form id="reset_form" method="POST" action="/Reset">
    <button type="submit">RESET DATABASE</button>
  </form>
  <p class="reset-note">
    This will restore the database to its default state
  </p>
</header>
